.page__title {
    display: block !important;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
}

.form--container {
    width: 400px;
    margin: auto;
}

.page__postCard {
    margin-bottom: 2rem !important;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}